.Weather{
    width: 20%; 
    text-align: center; 
    position: absolute;
    float: right;
    top: 0px;
    right: 0px;
    
}
.WeatherContent{
    color: white; 
    margin: 0%;
}
.WeatherPhoto{
    max-width: 100%;
    height: auto;
    margin: 0%;
}