.Todo{
    width: 10%;
    height: 18px; 
    margin: 1px auto; 
    border: 1px solid #eee; 
    box-shadow: 0 4px 6px #ccc ;
    padding: 1px; 
    text-align: center;
    list-style-type: none;
 
}
.TodoContent{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 1px;
    margin-left: 1px;
    color: white;

}

li{
    list-style-type:none;
    }