.ArticleCard{
    width: 50%; 
    border: 1px solid #eee; 
    box-shadow: 0 4px 6px #ccc ;
    text-align: center;
    list-style-type: none;
 
}
img {
    display: inline;
    max-width:230px;
    max-height:200;
    width: auto;
    height: auto;
    list-style-type: none;

  }
 
li{
    list-style-type:none;
    }
.ArticleContent{
    margin-bottom: 3px;
    margin-right: 1px;
    margin-left: 1px;
}